.pagination {
    display: flex;
    list-style: none;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
  }
  
  .pagination li {
    cursor: pointer;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    user-select: none;
  }
  
  .pagination li.active {
    background-color: #4CAF50;
    color: white;
  }

  .articless-list {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .articless-list ul {
    list-style: none;
  }

  .all-articles {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
  }

  .single-article {
    margin: 5px;
    width: 110px;
    font-size: 14px;
  }

  .article-list-images {
    width: 100px;
    height: 100px;
  }

  .latest-articles {
    margin-left: 10px;
  }

  .latest-div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .articles-loading {
    margin-left: 20px;
  }

  .sortt {
    display: flex;
    justify-content: flex-start;
  }